body {
    margin: 0;
    overflow: hidden;
    background: black;
}

video, canvas {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

#controls {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 10px;
}

button {
    font-size: 16px;
    margin: 5px;
    padding: 10px;
}
